@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic);
/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */

/**
 * Solarized colors by Ethan Schoonover
 */

.highlight, .fragment.highlight-blue.visible, h1 em, h2 em {
    background-color: rgba(92, 171, 212, 0.9);
    /*background-color: rgba(247,118,31,0.9);*/
    color: #fff !important;
    padding: 10px !important;
    font-style: italic !important;
}
.highlight::before, .fragment.highlight-blue.visible::before, h1 em:before, h2 em:before {
  content: "{ ";
  color: rgba(255,255,255, 0.3);
}
.highlight::after, .fragment.highlight-blue.visible::after, h1 em:after, h2 em:after {
  content: " }";
  color: rgba(255,255,255, 0.3);
}

.highlight-red.visible {
    /*font-size: 100px !important;*/
    text-decoration: line-through;
}

.hs {
    line-height: 80px !important;
    vertical-align: top;
}

.hs img {
    padding-left: 10px;
    height: 71px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    position: relative;
    top: 15px;
}

code {
    padding-left: 20px !important;
    font-size: 160% !important;
    line-height: 130% !important;
    width: 1400px !important;
    margin-left: -100px !important;
    max-height: 550px !important;
}


html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: url('../img/keynote-logo.png') #fff no-repeat;
  background-position: bottom right;
  background-size: 15%;
}

.controls {
    display: none !important;
}

.reveal {
  /*background-color: rgba(255,255,255, 0.1);*/
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #657b83; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: 'Merriweather sans', serif;
  line-height: 1.5em;
  /*letter-spacing: 0.02em;*/
  /*text-transform: uppercase;*/
  text-shadow: none; }

.reveal h1 {
    font-size: 72px;
}

.reveal h2 {
    font-size: 60px;
}

.reveal h3 {
    font-size: 50px;
}
/*.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }*/


/*********************************************
 * LISTS
 *********************************************/
.reveal section ul {
    margin: 1em 0;
    font-size: 1.3em;
    line-height: 1.2
}

.reveal section li {
    margin: 1em 0;
}



/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none; /*4px solid #657b83;*/
  box-shadow: none; /*0 0 10px rgba(0, 0, 0, 0.15);*/
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal section {
    padding-bottom: 100px;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #268bd2; }
